.bottom_bar {
   text-align: center;
   background: $colorWhite;
   // border-top-color: $colorSilver;
   // border-top-width: 1;
   box-shadow: 0 0 20px $colorSilver;
   width: 100%;
   height: 100%;
   width: 100%;
   & > AbsoluteLayout {
      & > StackLayout {
         height: 100%;
         width: 100%;
         &.bottom_bar-badge {
            padding-left: 25;
            & > Label {
               font-size: 11;
               background: $colorBrand;
               border-width: 1;
               border-color: $colorWhite;
               border-radius: 100%;
               width: 18;
               height: 18;
               text-align: center;
               color: $colorWhite;
            }
         }
         &.bottom_bar-info {
            text-align: center;
            & > Label.bottom_bar-ico {
               font-size: 28;
               margin-bottom: 1;
            }
            & > Label.bottom_bar-title {
               font-size: 10;
            }
         }
      }
   }
}
