.categories_popular {
   margin-top: 40dpi;
   height: 40dpi;
   & > GridLayout {
      & > StackLayout {
         & > Label {
            vertical-align: center;
            background: $colorWhite;
            padding: 8dpi 12dpi 9dpi;
            margin: 0 7dpi;
            border-radius: 10dpi;
            text-align: center;
            vertical-align: middle;
            font-size: 16dpi;
            font-weight: 500;
         }
      }
   }
}
