<template>
   <GridLayout class="bottom_bar" col="0" row="1" columns="* * * * *" rows="*">
      <AbsoluteLayout v-for="(bar,key) in bottom_bar" 
         @tap="$emit('input', bar.key)"
         :key="key"
         :col="key" 
         row="0">
               <StackLayout class="bottom_bar-info" left="0" top="10">
                     <Label   :text.decode="bar.ico"  class="ico bottom_bar-ico" />
                     <Label   :text="bar.title" class="bottom_bar-title"  />
               </StackLayout>
               <StackLayout class="bottom_bar-badge" left="0" top="6" >
                  <Label  left="45" top="5"   v-if="bar.badge && bar.badge>0"   :text="(bar.badge > 9) ? '9+' : bar.badge"  />
               </StackLayout>
      </AbsoluteLayout>
   </GridLayout>
</template>

<script>


export default {
  props: {
     value:{
        default:'home-page'
     },
     bottom_bar:{
        default:function(){
           return [];
        }
     }
  },
}
</script>