<template>
   <ScrollView class="categories_popular" orientation="horizontal">
      <GridLayout
            v-if="total"
            :columns="total"
           
         >
         <StackLayout v-for="(category,key) in categories"   
         
            :key="key" 
            :col="key">
              <Label  
                        @tap="showCategory"
                  textWrap="true" 
                  :text="category.title"/>
          </StackLayout>
      </GridLayout>
   </ScrollView>
</template>

<script>
import {mapState} from 'vuex';

import CategoryItem from '@/components/categories/CategoryItem';

import {gridGenerate} from '@/plugins/functions';

  export default  {
  methods: {
      gridGenerate:gridGenerate,
      showCategory(arg){

          this.$navigateTo(CategoryItem, {props: {id:2}, frame:'home-page'});
      }
  },
    computed:{
      ...mapState(['categories']),
      total(){
          return this.gridGenerate(this.categories);
      }
    }
  };
</script>