@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4tb4a4');
  src:  url('fonts/icomoon.eot?4tb4a4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4tb4a4') format('truetype'),
    url('fonts/icomoon.woff?4tb4a4') format('woff'),
    url('fonts/icomoon.svg?4tb4a4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banking:before {
  content: "\e927";
}
.icon-giftbox:before {
  content: "\e928";
}
.icon-rocket:before {
  content: "\e929";
}
.icon-pay_zero:before {
  content: "\e92a";
}
.icon-icons8-telegram-app-1:before {
  content: "\e926";
}
.icon-icons8-telegram-app .path1:before {
  content: "\e905";
  color: rgb(61, 217, 235);
}
.icon-icons8-telegram-app .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(194, 255, 255);
}
.icon-view:before {
  content: "\e91f";
}
.icon-house:before {
  content: "\e921";
}
.icon-settings:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-online-chat:before {
  content: "\e914";
}
.icon-email:before {
  content: "\e915";
}
.icon-image:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e917";
}
.icon-pencil-3:before {
  content: "\e918";
}
.icon-comparison:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}
.icon-law:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-supermarket:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-call:before {
  content: "\e93b";
}
.icon-feedback:before {
  content: "\e920";
}
.icon-back-2:before {
  content: "\e91b";
}
.icon-back-1:before {
  content: "\e91c";
}
.icon-back:before {
  content: "\e91d";
}
.icon-calendar:before {
  content: "\e911";
}
.icon-question:before {
  content: "\e910";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-pin:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90b";
}
.icon-question1:before {
  content: "\e925";
}
.icon-download:before {
  content: "\e903";
}
.icon-translate-language-svgrepo-com:before {
  content: "\e904";
}
.icon-facebook-fill:before {
  content: "\e919";
}
.icon-instagram-fill:before {
  content: "\e91a";
}
.icon-telegram-fill:before {
  content: "\e91e";
}
.icon-facebook-fill1:before {
  content: "\e923";
}
.icon-instagram-fill1:before {
  content: "\e922";
}
.icon-telegram-fill1:before {
  content: "\e924";
}
