<template>
    <Page :actionBarHidden="true" @loaded="loaded">
       <GridLayout class="page-main" columns="*" rows="* 60">       
              <StackLayout col="0" row="0" >
                    <Frame  
                              v-for="bar in bottom_bar"
                              :key="bar.key"
                              v-show="frame_name==bar.key" 
                              :defaultPage="bar.key"  
                              :id="bar.key"  
                              @loaded="frameLoaded">
                              <template v-if="frame_name==bar.key"  >
                                    <keep-alive>
                                        <component  :is="bar.key"/>
                                    </keep-alive>
                              </template>
                    </Frame>
              </StackLayout>
              <bottom-bar v-model="frame_name" @input="changeFrame" :bottom_bar="bottom_bar"/>
        </GridLayout>
    </Page>
</template>

<script>

import {mapState} from 'vuex';
import HomePage from '@/views/HomePage';
import PostPage from '@/views/PostPage';
import WishPage from '@/views/WishPage';
import CartPage from '@/views/CartPage';
import ProfilePage from '@/views/ProfilePage';
import apiStorage from '@/api/apiStorage';
  export default {
    components:{
       HomePage,
       PostPage,
       WishPage,
       CartPage,
       ProfilePage,
      'bottom-bar': () => import('@/components/BottomBar'),
    },
     computed:{
      ...mapState(['bottom_bar'])
   },
    methods: {
      apiStorage:apiStorage,
      changeFrame(val){
        // this.$navigateTo(this, {props: {id:val}});
      },
      frameLoaded(arg){
        console.log(arg.object);
      },
      loaded(arg){
       
      }
    },
     created() {
        this.apiStorage();
    },
    props:{
      frame_name:{
        default:'home-page'
      }
    }
  };
</script>