<template>
    <Page :actionBarHidden="true" >
        <ScrollView>
            <StackLayout>
 
            </StackLayout>
        </ScrollView>
    </Page>
</template>

<script>
import {mapState} from 'vuex';

  export default {

    computed:{
      ...mapState(['text'])
    },

  };
</script>