<template>
    <Page :actionBarHidden="true">
         <categories-main />
    </Page>
</template>

<script>
  export default {
    name:'home',
    components: {
      'categories-main': () => import('@/components/categories/CategoriesMain')
    }
  };
</script>