.page-main {
   height: 100%;
   width: 100%;
   & > StackLayout {
      // & > Frame {
      //    width: 100%;
      //    height: 100%;
      // }

      height: 100%;
      width: 100%;

      & ScrollView {
         width: 100%;
         height: 100%;
      }

   }
}
